<h2>FakeyBlog</h2>

<h3>Inside of a component using ng-content defaulted to hide the content</h3>
<app-ng-content-test [editable]="isEditingContent" [readOnlyContent]="content2"><editor plugins="link table" [(ngModel)]="content2"></editor></app-ng-content-test>

<h3>Inside of a component using ng-content defaulted to show the content</h3>
<app-ng-content-test [editable]="!isEditingContent" [readOnlyContent]="content2"><editor plugins="link table" [(ngModel)]="content2"></editor></app-ng-content-test>

<h3>Inside of a simple ng-if block</h3>
<p *ngIf="!isEditingContent">{{content2}}</p>
<div *ngIf="isEditingContent"><editor plugins="link table" [(ngModel)]="content2"></editor></div>

<p>
  <button (click)="editContent()" [innerText]="isEditingContent ? 'save' : 'edit'"></button>
</p>

<textarea [(ngModel)]="content2" id="" cols="30" rows="10"></textarea>
